.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f5;

}

.logo{
  width: 30%;
  height: auto;
}

.button-container {
  display: flex;
  gap: 15em;
}

.openModalButton {
  margin-right: 0;
  margin-bottom: 1em;
  align-self: center;
  font-size: 1.8em;
}
.listContainer {
  display: flex;
  flex: row;
  gap: 1.5em;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* o center si quieres centrarla */
  padding: 10px 20px;
  padding-bottom: 0;
  height: 160px; /* controla la altura máxima de la cabecera */
  width: 100%;

  overflow: hidden;
}

header > img {
  height: 100%; /* ocupará todo el alto del header */
  width: auto;  /* para que no se deforme */
  margin: 0;
 
  margin-left: 8em;
  
}



h2 {
  color:#2c6378;
 
}


@media (max-width: 768px) {
  .mainContainer {
    padding: 1rem;
    
  }

  .logo {
    width: 65%;
    margin: 0 auto;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  header > img {
    margin-left: 0;
  }

  .button-container {
    flex-direction: row;
    gap: 1em;
    margin: 0 auto;
  }

  .openModalButton {
    margin-right: 0;
    margin-bottom: 1em;
    align-self: center;
    font-size: 1.2em;
  }

  .listContainer {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .listaTareas {
    width: 90vw;
  }




}

